.MMM-emt .line {
    padding-left: 0;
    padding-right: 25px;
    text-align: right;
    font-weight: bold;
  }

.MMM-emt .bus-icon {
    padding-right: 10px;
    text-align: center;
  }

.MMM-emt .time {
    padding-right: 30px;
    text-align: right;
  }
.MMM-emt .time span {
    margin-right: 15px;
}
.MMM-emt .highlight {
    color: lightgreen;
    font-weight: bold;
}

.MMM-emt .tonedown {
    color: lightgrey;
}

.MMM-emt .destination {
    text-align: left !important;
    text-transform: capitalize;
}

